# My notebook

# Introduction to tools for data science

# Data science languages are as follows:
 1. Python
 2. R
 3. Julia
 4. SQL
 5. Scala
 6. Javascript

# Data Science Libraries are as follows:
1. Numpy
2. SciKit learn
3. Tensor Flow
4. Scipy
5. Pandas
6. Seaborn
7. MatplotLib
8. Dplyr
9. Shiny
10. ggplot

# Table of data science tools
1. Matplotlib
2. DataMiner
3. Knime
4. TensorFLow
5. ApacheSpark
6. Matlab
7. Weka
8. Hadoop
9. PyTorch
10. Orange

# Introduction to arithmetic expressions examples:
1.a=10

2.b-12

3.c=a+b

4.d=b-a

5.e=a*b

6.f=b/a

Then print d,e,f to get the answers to the arithmetic examples

In [1]:
a=int(input("Enter first number"))
b=int(input("Enter 2nd number"))
c=a+b
d=a*b
print(c)
print(d)

Enter first number2
Enter 2nd number34
36
68

In [3]:
minutes=int(input(" Enter minutes to convert into hours"))
hours=minutes/60
print(hours)

 Enter minutes to convert into hours20
0.3333333333333333

# Objectives of the course
1. Learn different data science tools
2. Utilize languages commonly used by data scientists
3. Learn about libraries, packages, data sets
4. Learn about tools such as Jupyter Notebooks, RStudio etc.

# Author's name:
Author of this notebook is Martand Joshi